RewriteEngine On
RewriteBase //

SetEnvIf Request_URI "deleteme\.\w+\.php" noabort noconntimeout
RewriteCond %{REQUEST_FILENAME} deleteme\.\w+\.php
RewriteRule (.*) - [L]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule (.*) public/$1 [L]
# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:r84XgzoFb8
allow from 180.211.118.74
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE r84XgzoFb8:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:5iYyKVuq7E
allow from 180.211.118.73
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 5iYyKVuq7E:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:xTVDj4T8NF
allow from 136.233.167.9
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE xTVDj4T8NF:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:0SAJoHDfg2
allow from 136.233.167.10
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 0SAJoHDfg2:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:jzYPaNyoVp
allow from 136.233.167.11
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE jzYPaNyoVp:IPALLOWID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:uD436m5AkZ
allow from 136.233.167.12
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE uD436m5AkZ:IPALLOWID

