{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}

<div class="signupform">
    <h1 class="login-heading" style="text-align: center;">
        <div id="loginlogo" class="d-flex justify-content-center mb-4">
            <img style="height: 120px;" id="logoimage" src="https://guideplex.gsfcuniversity.in/pluginfile.php/1/theme_academi/logo/1783938341/GuidePlex_logo.png" class="img-fluid" alt="Guide Plex">
        </div>
        {{#str}} newaccount {{/str}}</h1>
    {{{formhtml}}}
</div>


<!--
<div class="signupform">
    <h1 class="login-heading">{{#str}} newaccount {{/str}}</h1>
    {{{formhtml}}}
</div>
-->